{% extends 'base.html' %}
{% block title %}Bienvenidoooos{% endblock %}

{% block content %}
    <h1>Bienvenido a Django Templates!!!!</h1>
    <p>La famosa banda de rock se separó, al menos por un tiempo. Los integrantes declararon en diversos medios que no hubo una pelea, 
        sino que quieren trabajar un tiempo como solitas. Además, en una rueda de prensa, el representante dijo que es probable que el
        año próximo los músicos se vuelvan a juntar para hacer una gira.</p>
{% endblock %}