body{
    background-color: rgb(199, 200, 241);
    font-family: Arial, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

h1{
    font-family: "Updock", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}